DATABASE_URL=postgresql+asyncpg://podarium:podarium@localhost:5455/podarium
PUBLIC_URL=http://localhost:8044
SECRET_KEY=change-me-to-a-long-random-string
DOWNLOAD_DIR=./data/downloads
ARTWORK_DIR=./data/artwork
PODARIUM_USERNAME=jworthington
PODARIUM_PASSWORD=change-me
# PODCASTINDEX_KEY=
# PODCASTINDEX_SECRET=
